td.table-data,
button {
  background-color: #dcdcdc;
}

button {
  border: none;
  padding: 2rem;
  font-weight: 900;
}

td.table-data.sign,
.sign button {
  background-color: #ffa500;
}

td.table-data {
  border: 1px solid;
  text-align: center;
  cursor: pointer;
}
